<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878860922664-6mfck900ijne6u8mgf9po3f2mfvrv7r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878860922664-6mfck900ijne6u8mgf9po3f2mfvrv7r9</string>
	<key>API_KEY</key>
	<string>AIzaSyBB_U8OKAz3KL4AF_srMkdxM38ukD13kBU</string>
	<key>GCM_SENDER_ID</key>
	<string>878860922664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.popupbits.flFireAuth</string>
	<key>PROJECT_ID</key>
	<string>alcaldia-79a65</string>
	<key>STORAGE_BUCKET</key>
	<string>alcaldia-79a65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878860922664:ios:b7a6e33810e929c7bd2a1d</string>
	<key>DATABASE_URL</key>
	<string>https://alcaldia-79a65-default-rtdb.firebaseio.com</string>
</dict>
</plist>